#root {
    background: linear-gradient(45deg,red,white,white,blue);
    width:80%;
    max-width:277px;
    margin:10px auto;
    padding:25px;
    border-radius:10px;
    background-size:100%;
    box-shadow:5px 5px 5px rgb(40,40,40,0.6);
    /* color:white; */
    height:600px;
    max-height:500px;
    animation-name:fadeOut;
    animation-duration: 6s;
    overflow: hidden;
    display: absolute;

}

/* logo on main */
.logo{
    width: 95%;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* css for signup form! */
/* .signupInput{
    display: block;
} */

input[class="signupInput"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signUpButton{
    width: 50%;
    padding: 12px 20px;
    margin: 100px 0px 0px 75px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[id=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signupSubmit{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px 8px -10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    
.surveySubmit{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }


/*-- Eric's CSS --*/
.main {
    display: flex;
    height: 90px;
    justify-content: space-between;
    /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.205); */
}
/* Menu */
.menu-icon{
    display: flex;
    cursor: pointer;
    padding-left: 270px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}
.menu-icon:link{
    text-decoration: none;
}
.menu-icon:visited{
    color: black;
}

/* Avatar */
/* -- .avag-style is for text under avatar icon */
.avag-style {
    position: relative;
    bottom: -90px;
    opacity: 0.5;
    z-index: 1;
    color: black;
    background: white;
    font-weight: bold;
}
.ava-label {
    display: block;
    margin-top: 5px;
    margin-left: 3px;
}
.ava-img {
    cursor: pointer;
    -moz-border-radius: 50px;
    border: 4px double rgba(87, 81, 81, 0.226);
    border-radius: 50px;
    height: 80px;
}
.ava-control {
    display: none;
}

/* tally and name */
.point-name{
    padding-top: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.205);
}
.points{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 1px;
    margin-left: 8px;
}
.users-name{
    margin-right: 5px;
}

/* Action List */
.action-header {
    text-align: center;
    padding: 7px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.205);
} 
#action-list {
    margin: 10px auto;
    padding: 10px 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.205);;
    height:275px;
    max-height:275px;
    overflow: scroll;
}

/* #action-list li {
} */

#ulDiv{
    display: flex;
    flex-direction: column;
    height:300px;
    max-height:300px;
}

.listed-action{
    margin: 10px 0 -20px 5px;
    display:flex;
    flex-direction:column;
    width:95%;
}

.listed-action img {
    max-height:20px;
    max-width:20px;
}

.action-button {
    transform: translateY(-45px);
    margin-bottom:0px;
    background-color:#eee;
    padding:5px;
    border:1px solid #444;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.205);
    transition:0.3s;
}

.action-button:hover {
    
    transform: translate(1px,-45px);
}

.cause-icon {
    transform: translate(-10px,10px);
    z-index: 1;
}

.points-container {
    position:relative;
    right:0;
    top:0;
    width:40%;
    
    padding:0 5px;
    transform:translate(10px,-25px);
    font-weight:bold;
}


/* Icons */
.icons {
    display:flex;
    justify-content: space-between;
}

.first-icon,
.second-icon,
.third-icon {
    width: 25px;
    padding: 5px;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
}

/* select {
    display:block;
    margin:10px;
} */

@keyframes goveriLogo {
    0% {
        opacity:0;
        z-index:1;
    }
    20% {
        opacity:1
    }
    80% {
        opacity: 1;
    }
    90% {
        z-index:1;
    }
}

#logo {
    background:url(goveri_logotype2shadow.png);
    background-size:300px;
    background-repeat:no-repeat;
    background-position:center 30%;
    /* background-color: black; */
    position:absolute;
    margin:-15px;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    animation-name:goveriLogo;
    animation-duration: 4s;
    z-index:-1;
}

@keyframes fadeOut {
    0% {
    background-size:280%;
    }
    
}

@keyframes open {
    0% {
        opacity:0;
        height:50%;
    }
    67% {
        opacity:0;
        height:75%;
    }
}

#inner-background {
    margin:0px;
    height:100%;
    overflow: scroll;
    border-radius:10px;
    background-color:rgb(0,0,0,0.7);
    animation-name:open;
    animation-duration: 1s;
    z-index:-2;
}

#header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 20px;
    color:white;
}

.points-display {
    color: white;
    float:right;
    margin:5px 10px;
}

ul {
    list-style-type: none;
}

.positionButton {
    background:transparent;
    color:white;
    padding:10px;
    border:none;
    transition:0.3s;
    margin-left:10px;
    z-index:1;
}

button:hover {
    cursor:pointer;
    text-shadow:1px 1px 5px white;
}

.local-points {
    position:absolute;
    top:50px;
}

.position {
    display:flex;
    align-items:center;
}

.badge {
    width:20px;
    height:20px;
    background-color:rgb(45, 247, 92);
}

#info {
    position:relative;
    top:-300px;
    color:white;
    max-height:250px;
    min-height:250px;
    overflow:scroll;
    margin-top:0px;
    border-radius:5px;
    padding:0 20px;
    z-index:0;
}

.next-button {
    background:transparent;
    color:white;
    padding:10px 20px;
    border:none;
    text-align:left;
    transition:0.3s;
}

#backButton {
    position:absolute;
    bottom:2px;
}

#_vit {
    display:none;
    transition:0.5s;
    z-index:2;
}

@keyframes fadeIn {
    0% {
    opacity: 0;
    }
    
}

.link {
    position:absolute;
    top:0px;
    left:0;
    right:0;
    background: linear-gradient(45deg,red,white,white,blue);
    width:100%;
    max-width:277px;
    margin:10px auto;
    padding:25px;
    border-radius:10px;
    background-size:100%;
    box-shadow:5px 5px 5px rgb(40,40,40,0.6);
    /* color:white; */
    height:600px;
    max-height:500px;
    animation-name:fadeIn;
    animation-duration: 0.5s;
    z-index:9999;
}


/* menu slider */
/* .x-menu{
    margin: 0;
    padding: 0;
} */
#sidebar {
    position: absolute;
    width: 150px;
    /* height: 100%; */
    /* background: rgba(0, 0, 0, 0.377); */
    right: -570px;
    transition: .2s;
    margin-right: 1000px;
    top: 10px;
    background: rgba(0, 0, 255, 0);

}

#sidebar.active {
    right: -444px;
    transition: .2s;
}


#sidebar ul li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 15px 10px;
    background: #5c5c5c7c;
    /* visibility: hidden; */
    border: 1px solid rgba(255, 255, 255, 0.651);
    /* border-radius: 50px */
}
.ul-list {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 75ms, opacity 75ms;
}

.ul-list.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}


#sidebar .toggle-btn {
    position: absolute;
    top: 15px;
    right: 130px;
}

/* .navspan1 {
    background: rgb(224, 29, 29);
    border: 0.5px solid black;
}
.navspan2 {
    background: white;
    border: 0.5px solid black;
}
.navspan3 {
    background: rgb(35, 35, 247);
    border: 0.5px solid black;
} */


.toggle-btn span {
    width: 25px;
    height: 4px;
    background: rgb(200,200,200,0.6);
    border: 1px solid rgba(0, 0, 0, 0.493);
    display: block;
    margin-top: 2px;
    cursor: pointer;
}

#support-bar {
    cursor: pointer;
}
#support-bar:hover {
    color: rgba(0, 0, 0, 0);
    background: url("./modules/img/venmo-icon.svg") no-repeat;
    background-color: rgb(51, 150, 205);
    border: 5px solid rgba(121, 115, 115, 0.822);
}

#support-bar:visited {
    text-decoration: none;
}

#contact-bar {
    cursor: pointer;
}

#contact-bar a {
    color:white;
    text-decoration: none;
    z-index:-2;
}

#contact-bar:hover {
    color: rgba(0, 0, 0, 0);
    background: url("./modules/img/contact.png") no-repeat;
    background-color: rgb(255, 255, 255);
    background-position: left;
    background-size: 40px;
    padding: 15px 10px;
    border: 5px solid rgba(121, 115, 115, 0.822);
}

.raffle-nc {
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    /* transition: visibility 0s linear 75ms, opacity 75ms; */
}

.raffle-nc.time-visble{
    text-align: center;
    background: linear-gradient(45deg,red,white,white,blue);
    border: 1px solid black;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.205);

    /* border-radius: 20px; */
}

#raffle-bar {
    cursor: pointer;
    padding: 15px 10px;
    border: 1px solid white;
}

#raffle-bar:visited {
    text-decoration: none;
}

#raffle-bar:hover {
    color: rgba(0, 0, 0, 0);
    background: url("./modules/img/raffle.png") no-repeat;
    background-position: left;
    background-color: rgb(219, 97, 97);
    background-size: 60px;
    padding: 15px 10px;
    border: 5px solid rgba(121, 115, 115, 0.822);
}

.link-header {
    color:white;
    text-align: center;
    margin-top: 75px;
}

.linkImgDiv {
    width:200px;
    height:200px;
    background:#eee;
    margin:auto;
}

.action-stream-header {
    color:white;
    text-align: center;
}

.action-stream-container {
    height:100%;
    max-height:100%;
    width:100%;
    margin:0px;
    overflow:scroll;
    background:rgb(255,255,255)
}

.action-stream-item-div {
    height:225px;
    width:225px;
    margin:0;
    border:1px solid #ddd;
    padding:25px;
}

.stream-button{
    width: 200px;
    padding: 12px 20px;
    margin: 25px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.action-stream-img-div {
    width:100%;
    height:200px;
    background:#eee;
    margin:auto;
}

.stream-item-icons-div {
    margin:5px 12px;
    display:flex;
    justify-content: flex-start;
}

.stream-icon {
    max-width:20px;
    max-height:20px;
    margin:0 5px;
}

.plus-five {
    transform: translateY(-15px);
    margin-right: 5px;
}

#comment-icon {
    transform: translateY(2px);
}